.list{
    background-color: rgb(157, 184, 235);
    width: 300px;
    margin: 10px;
    border: 1px solid black ;
    border-radius: 10px;
    padding: 10px;
}
h2{
    text-align: center;
    font-size: 24px;
}

.card{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

h3{
    font-size: 18px;
    margin: 0;
}

/* .list .btn{
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    margin-top: 5px;
    margin-bottom: 5px;
} */

.container-list{
    display: flex;
    flex-wrap: wrap;
}

.add-list{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.add-list .btn,.add-list input{
    height: 40px;
    margin: 10px;
}


.oversort { overflow-x: auto; white-space: nowrap; min-height: calc(100% - 120px); }
.sortable { display: inline-block; vertical-align: top; margin: 0; margin-left: 5px; margin-right: 5px; background: rgb(157, 184, 235); width: 300px; min-height: 25px; border-radius: 4px; text-align: center;
    font-size: 30px;border: 1px solid #8e8e8e;}
.sortable .header { min-width: 290px; margin: 5px; padding: 5px; }
.sortable  div { min-width: 290px; margin: 5px; padding: 5px; font-size: 20px; width: 120px; background: aliceblue; border-radius: 4px; border: 1px solid #8e8e8e;box-shadow: 0 0 3px rgba(0, 0, 0, .4);}
.newlistitem { min-width: 290px; margin: 5px; padding: 5px; font-size: 16px; width: 120px; border: 1px solid #8e8e8e; background: #fafafa; border-radius: 4px; }
.newlistinput { margin-left: 10px; min-width: 280px; padding: 5px; font-size: 16px; width: 120px; border: 1px solid #8e8e8e; background: #fafafa; border-radius: 4px; }

.sortable-placeholder {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 300px;
    min-height: 25px;
    border-radius: 4px;
  border: 1px dotted black;
}

.sortable-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
  border-radius: 4px;
}