body{
    background-color: #d5bdaf;
}
h1{
    color:#0000008C;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1em;
}
.btn-outline-success{
    color: #0000008C;
    border-color: #0000008C
}
.btn-outline-success:hover{
    background-color: #d5bdaf;
    border-color:#d5bdaf ;
}
.btn-light{
    width: 15em;
}
